.box{
    display: flex;
    flex-direction: column;
    border: 1px solid   rgba(250, 93, 0, 100%);
    padding: 1rem;
    border-radius: 1.5rem;
    width: clamp(200px, 380px,380px);
}
.boxup{
    display: flex;
    align-items: center;
}
.boxup img{
    margin-right: .75rem;
}
.boxup h2{
    font-size: 28px;
    font-weight: 300;
    white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
}
.boxdown p{
font-size: 20px;
text-align: start;    
}
.boximg img{
    width: 56px;
    aspect-ratio: 1;
    
}