.container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: start;
}
.flexbox{
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 1200px;
    gap: 20px;
}
.subheading h2{
    color:   rgba(250, 93, 0, 100%);
    letter-spacing: .3px;
    margin-bottom:0rem;
}
.heading h1{
    margin-top: .5rem;
    font-size: 42px;
    font-weight: 400;
    letter-spacing: .3px;
}
.description p{
    margin-top: 0; 
font-size: 26px;
font-weight: 400;
margin-bottom: 3rem;
}
.button button{
    margin-top: 3rem;
    max-width: 135px;
    padding: 11px 24px;
    color: #fff8f1;
    background-color: #1d1e1c;
    font-size: 1rem;
    border-radius:20px;
    line-height: 24px;
}