#h2{
    font-size: 30px;
    margin-left:200px;
    margin-top: 50px;
}
#btn{
    background-color: #188433;
    height: 34px;
    width: 167px;
    font-size: 15px;
     color: white;
     font-weight: bold;
     border: 1px;
     border-radius: 10px;
     padding: 0px 16px;
     margin-left: 200px;
}

#bottom{
    height: 350px;
    width: 1200px;
    /* border:1px solid red; */
    margin: auto;
    margin-top: 30px;
    background-color: #efefef;

}
#bottom>img{
   /* margin-left: auto;
   margin-right: auto;
   display: block; */
   margin-top: 50px;
  margin-left: 450px;
}

#bottom>p{
    font-size: 17px;
    color: grey;
    width: 47%;
    text-align: center;
    margin-left: 330px;
}

#form{
    height: 300px;
    width: 1200px;
    margin: auto;
    margin-top: 30px;
   display: flex;
   justify-content: space-evenly;
   background-color:  #fff8f1;
   border:1px solid   #fa5d00
}
#expense{
    display: flex;
}
#first{
    margin-left: 20px;
}
#second{
    margin-left: 70px;
}
#first>input{
     height: 35px;
}
#third{
    margin-right: 50px;
}
#third>input{
    height: 60px;
}
#second>select{
    height: 35px;
    width: 700px;
} 
#second>input{
    height: 40px;
    width: 692px;
    margin-top: 5px;
}
#btn2{
    background-color: #188433;
    height: 34px;
    width: 140px;
    font-size: 15px;
     color: white;
     font-weight: bold;
     border: 1px;
     border-radius: 10px;
     padding: 0px 16px;
}
#btn3{
    background-color: white;
    height: 34px;
    width: 100px;
    font-size: 15px;
    border:1px solid grey;
     border-radius: 10px;
     padding: 0px 16px; 
     margin-left: 10px;
}
#selec2{
    margin-top: 5px;
}

#terms{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    margin-top: 220px;
}

#terms>p{
    color: grey;
    font-size: 14px;
}