body{
    background-color: #fff8f1;
}
.body_container{
    height: 3555.63px;
    width: 1263.33px;
    border: 1px solid black;
    /* justify-content: center; */
}
.body_container2{
    height: 1088.7px;
    width: 1263.33px;
    /* border: 1px solid black; */
    /* justify-content: center; */

}
.body_container3{
    height: 1088.7px;
    width: 1200px;
    /* border: 1px solid black; */
    /* justify-content: center; */
    padding-left: 30px;

}
.text1_container{
    height: 60px;
    width: 1200px;
    /* border: 1px solid blue; */
}
.text1_container h1{
    font-weight: 400;
    text-decoration: none;
    font-family: MuotoWeb,sans-serif;
    font-style: normal;
    color: #373837;
    font-size: 50px;
    
}
.text2container{
    height: 37.7px;
    width: 1200px;
    /* border: 1px solid green; */
}
.text2container h3{
    font-weight: 400;
    text-decoration: none;
    font-family: MuotoWeb,sans-serif;
    font-style: normal;
    color: #1d1e1c;
    font-size: 29px;
    line-height: 1.3;
}

.boxcontainer{
    height: 135px;
    width: 1200px;
    /* border: 1px solid red; */
    display:flex;
    /* justify-content: space-between; */
}
.box1{
    height: 133px;
    width: 400px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}
.box2{
    height: 133px;
    width: 400px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}
.box3{
    height: 133px;
    width: 400px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}

.box11{
    height: 93px;
    width: 219.46px;
    /* border: 1px solid blue; */
    padding-left: 5px;
}
.box11 h2{
    font-weight: 400;
    text-decoration: none;
    font-family: MuotoWeb,sans-serif;
    font-style: normal;
    color: #1d1e1c;
    font-size: 42px;
    line-height: 20px;
}
.box11 h4{
    font-weight: normal;
    text-decoration: none;
    font-family: MuotoWeb,sans-serif;
    font-style: normal;
    color: #1d1e1c;
    font-size: 26px;
    margin-bottom: 5px;
    line-height: 0px;
}
.box12{
    height: 70px;
    width: 81px;
    /* border: 1px solid blue; */
    margin-top: 25px;
    padding-right: 10px;
}

.box21{
    height: 93px;
    width: 219.46px;
    /* border: 1px solid blue; */
    padding-left: 10px;
}
.box21 h2{
    font-weight: 400;
    text-decoration: none;
    font-family: MuotoWeb,sans-serif;
    font-style: normal;
    color: #1d1e1c;
    font-size: 42px;
    line-height: 20px;
}
.box21 h4{
    font-weight: normal;
    text-decoration: none;
    font-family: MuotoWeb,sans-serif;
    font-style: normal;
    color: #1d1e1c;
    font-size: 26px;
    margin-bottom: 5px;
    line-height: 0px;
}
.box22{
    height: 70px;
    width: 81px;
    /* border: 1px solid blue; */
    margin-top: 25px;
    padding-right: 20px;
}

.box31{
    height: 93px;
    width: 219.46px;
    /* border: 1px solid blue; */
    padding-left: 10px;
}
.box31 h2{
    font-weight: 400;
    text-decoration: none;
    font-family: MuotoWeb,sans-serif;
    font-style: normal;
    color: #1d1e1c;
    font-size: 42px;
    line-height: 20px;
}
.box31 h4{
    font-weight: normal;
    text-decoration: none;
    font-family: MuotoWeb,sans-serif;
    font-style: normal;
    color: #1d1e1c;
    font-size: 26px;
    margin-bottom: 5px;
    line-height: 0px;
}
.box32{
    height: 70px;
    width: 81px;
    /* border: 1px solid blue; */
    margin-top: 25px;
    
}

.feature_story{
    height: 350px;
    width: 1200px;
    /* border: 1px solid black; */
    display: flex;
}
.feature_story_box1{
    height: 350px;
    width: 600px;
    /* border: 1px solid black; */
}
.feature_story_box1 img{
    height: 350px;
    width: 600px;
    transition: border-radius .2s,filter .2s;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.feature_story_box2{
    height: 350px;
    width: 600px;
    /* border: 1px solid black; */
}
.feature_story_box21{
    height: 203.4px;
    width: 600px;
    /* border: 1px solid black; */
    padding-left: 35px;
}
.feature_story_box21 button{
    background-color: rgba(29,30,28,100%);
    border: 1px solid rgba(29,30,28,100%);
    border-radius: 16px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
    box-sizing: border-box;
    color: rgba(255,248,241,100%);
    cursor: pointer;
    display: inline-block;
    font-family: "MuotoWeb","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    padding: 14px 22px 14px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    -webkit-appearance: none;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

.feature_story_box21 p{
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    color: rgba(250,93,0,100%);
    margin-bottom: 18px;
    text-transform: uppercase;
    letter-spacing: .3px;
    -webkit-font-smoothing: anti;
}
.feature_story_box21 h3{
    font-weight: 400;
    text-decoration: none;
    font-family: MuotoWeb,sans-serif;
    font-style: normal;
    color: #1d1e1c;
    font-size: 29px;
}

.logo{
    height: 60px;
    width: 1200px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    opacity: .2;
    margin-top: 100px;
}
.logo1{
    height: 60px;
    width: 48px;
    /* border: 1px solid grey; */
}
.logo2{
    height: 60px;
    width: 68px;
    /* border: 1px solid grey; */
}
.logo3{
    height: 60px;
    width: 149px;
    /* border: 1px solid grey; */
}
.logo4{
    height: 60px;
    width: 48px;
    /* border: 1px solid grey; */
}
.logo5{
    height: 60px;
    width: 121px;
    /* border: 1px solid grey; */
}
.logo6{
    height: 60px;
    width: 118px;
    /* border: 1px solid grey; */
}
.logo7{
    height: 60px;
    width: 48px;
    /* border: 1px solid grey; */
}
.logo8{
    height: 60px;
    width: 69px;
    /* border: 1px solid grey; */
}

.story{
    height: 2029.06px;
    width: 1263.33px;
    border: 1px solid red;
    padding-left: 30px;
}
.story_box{
    height: 2029.06px;
    width: 1200px;
    border: 1px solid black;
}
.story_box_top{
    height: 50.4px;
    width: 1200px;
    border: 1px solid black;
}
.story_box_content{
    height: 1728.67px;
    width: 1200px;
    border: 1px solid blue;
    display: flex;
}
.story_box_left{
    height: 1728.67px;
    width: 300px;
    border: 1px solid black;
}
.story_box_right{
    height: 1728.67px;
    width: 900px;
    border: 1px solid black;
}
.sidebar{
    height: 347.19px;
    width: 260px;
    border: 1px solid yellow;
}