/*
.heading{

}
.heading h1{

}
.heading p{

}
.button{
}

.button p{
}

*/
.button button {
  margin-left: 8px;
  font-size: 19px;
  padding: 12px 20px;
  color: rgba(255, 248, 241, 100%);
  margin: 0;
  background-color: rgba(250, 93, 0, 100%);
  border: none;
  border-radius: 1rem;
}
.button button:hover {
  color: rgba(255, 248, 241, 100%);
  background-color: rgba(250, 100, 0, 100%);
  border-color: rgba(250, 93, 0, 100%);
}
.rating {
  display: flex;
}
.wrapper {
  /* display: flex; */
  width: 100vw;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imagebox img {
  max-width: 1198px;
}

.ratingdarktext{
    color: #1d1e1c

}
.rating p.ratingfadedtext{
color: #9f9f9f !important;
font-weight: 600;
}
