.button button{
    margin-top: 3rem;
    padding: 11px 24px;
    color: #fff8f1;
    background-color: #1d1e1c;
    font-size: 1rem;
    border-radius:20px;
    line-height: 24px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    text-align: start;
    flex: 1;
    flex-wrap: nowrap;
}
.rightbox{
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 1200px;
    gap: 20px;
    max-width: 580px;
}
.subheading{
    color:   rgba(250, 93, 0, 100%);
    letter-spacing: .3px;
    font-size: 20px;
    line-height: 20px;
    font-weight:700 ;
    margin-bottom: 18px;
    text-transform: uppercase;
}
.description{
    
        color:   rgba(250, 93, 0, 100%);
        letter-spacing: .3px;
        margin-bottom:0rem;
        text-decoration: none;
    font-family: MuotoWeb,sans-serif;
    font-style: normal;
    color: #1d1e1c;
    font-size: 26px;
    display: block;
    
}
.heading{
    margin-top: .5rem;
    font-size: 42px;
    font-weight: 400;
    letter-spacing: .3px;
    font-weight: 400;
    text-decoration: none;
    font-family: MuotoWeb,sans-serif;
    font-style: normal;
    color: #1d1e1c;
    font-size: 42px;
    margin: 0;

}
.leftbox img{
    width: clamp(250px, 525px,525px);
}
.container>div{
    padding: 0 20px;
}
.container {
    padding-bottom: 4rem;
    border-bottom: 1px solid rgba(250, 93, 0, 100%);
}